<div class="wrapper-sidebar">
  <header class="sidebar clearfix">
    <div class="site-info">
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
      {% endif %} 
      <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
      <p class="site-description">{{ site.description }}</p>
    </div>
  </header>

  {{ page.url }}

  <script>
    function testPage(str) {
      if(str === '/')
        return true;
      var pat = /page[1-9][0-1]*/;
      return pat.test(str.substr(0, str.length - 2));
    }
  </script>

  {% if testPage(page.url) %}
  <div class="navlist">
    <nav>
      {% for nav in site.navigation %}
      {% if nav.url contains 'http://' or nav.url contains 'https://' %}
      <a href="{{ nav.url }}">{{ nav.name }}</a>
      {% else %}
      <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>
  {% end if %}

  <div class="search-container">
    <input type="text" id="search-input" placeholder="搜索博文" style="margin-top: 5%; margin-left: 5%; width: 90%;
      height: 35px;
      color: #333;
      background-color: rgba(227,231,236,.2);
      line-height: 35px;
      padding:0px 16px;
      border: 1px solid #c0c0c0;
      font-size: 16px;
      font-weight: bold;
      border-radius: 17px;
      outline: none;
      box-sizing: border-box;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);">
    <ul id="results-container"></ul>
  </div>

  <div class="wrapper-footer-desktop">
    <footer class="footer">
      {% include footer.html %}
    </footer>
  </div>
</div>